<div class="container">
<form [formGroup]="mainForm" autocomplete="off">
    <h3>Add an Opportunity</h3>
  <ngb-tabset #t="ngbTabset" class="tabselection" [justify]="currentJustify">


      <ngb-tab title="Opportunity Detail" id="oppDetail" class="oppDetail">
          <div class="container tab-content">
            <ng-template ngbTabContent>
                <div formGroupName="oppDetail">

                  <div class="form-group">

                    <label for="name">Account</label>
                    <input
                    [hidden]="hideAccountInput"
                    onfocus="this.value=''"
                    #accountSearch
                    value=''
                    (keyup)="AccountSearch(accountSearch.value)"
                    type="text"
                    class="form-control transparent-input"
                    id="accountSearch"
                    placeholder="Company">

                    <div
                    [hidden]="!hideAccountInput">
                    <ul class="btn">
                      <li class="btn btn-primary-outline">
                        {{displaySelectedAccount}}
                      </li>

                      <div class="btn"></div>
                      <span>
                      <img src="../../assets/icons8-delete-64.png" 
                      (click)="onAccountDelete()"
                      class="deleteUserSelection flaot-right">
                    </span>
                    </ul>
                    </div>
                    <div
                    [hidden]="!showAccountList">

                    <ul class="list-group"
                        id="accountSearch"
                        class="btn btn-outline accSearchUlList">

                        <li
                        (click)="selectedAccount(acc.id, acc.name)"
                        class="list-group-item list-group-item-action list-group-item-secondary accSearchList"
                              *ngFor="let acc of accounts">
                              {{acc.name}}
                              </li>

                        <li 
                        (click)="addNewAcc()"
                        class="addAccList">
                          <div class="plus radius" style="--l:35px;--t:3px;--c2:green">
                  
                          </div>
                          <div  
                          data-toggle="modal"
                          data-target="#exampleModal"
                          class="addAccTxt">Add Account
                        </div>
                        </li>
                    </ul>
                    </div>
                  </div>
                   
                      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Add New Account</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">

                              <div formGroupName="newAccount">

                                <div class="form-group">

                                  <label 
                                  for="accountName">Account Name</label>

                                  <input
                                  class="form-control"
                                  formControlName="accountName"
                                  type="text">

                                </div>

                                  <div class="form-group">
                                    <label for="industry">Industry</label>
                                    <br>
                                    <select
                                    id="industry"
                                    formControlName="industry"
                                    class="btn btn-outline-primary">
                                      <option
                                      [value]="indstry"
                                      *ngFor="let indstry of industryArray">
                                      {{indstry}}
                                    </option>
                                  </select>

                                </div>

                              </div>
                            </div>

                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <button (click)="saveAccount()" type="button" class="btn btn-primary">Save</button>
                            </div>
                          </div>
                        </div>
                      </div>
      

                  <div class="form-group">

                    <label for="name">Project Name</label>
                    <input
                    formControlName="name"
                    type="text"
                    class="form-control transparent-input"
                    id="name"
                    placeholder="Name of the Project">
                </div>


                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea
                    formControlName="description"
                    type="text"
                    class="form-control transparent-input description"
                    id="description"></textarea>
                </div>


                <div class="form-group">
                    <label for="saleslead">Sales Lead</label>
                    <input
                    [hidden]="hideInput"
                    #salesLead
                    onfocus="this.value=''"
                    value=''
                    (keyup)="SLSearch(salesLead.value)"
                    type="text"
                    class="form-control transparent-input"
                    id="saleslead"
                    placeholder="Pioneer">

                    <div
                    [hidden]="!hideInput">
                    <ul class="btn">
                      <li class="btn btn-primary-outline">
                        {{displaySelectedUser}}
                      </li>
                      <div class="btn"></div>
                      <span>
                        <img src="../../assets/icons8-delete-64.png"
                        (click)="onUserDelete()"
                        class="deleteUserSelection flaot-right">
                      </span>
                    </ul>
                    </div>
                    <div [hidden]="!showUserList">
                      <ul class="list-group justified"
                            id="saleslead"
                            class="btn btn-outline">
                              <li
                              (click)="selectedUser(user.id, user.name)"
                              class="list-group-item list-group-item-action list-group-item-secondary"
                              *ngFor="let user of users">
                              {{user.name}}
                              </li>
                          </ul>
                    </div>


                </div>

                <div class="form-group">
                  <label for="proposedBidTeam">
                    Proposed Bid Team
                  </label>
      
                  <input
                  #bidTeamInput
                  value=''
                  onfocus="this.value=''"
                  (keyup)="findBidTeamUser(bidTeamInput.value)"
                  class="form-control transparent-input"
                  placeholder="Invite your friends!"
                  type="text"
                  id="proposedBidTeam">
      
                      <ul class="btn" [hidden]="bidTeamArray.length == 0">
                          <li
                          *ngFor="let bidTeam of bidTeamArray; let i = index"
                          class="btn btn-primary-outline float-right">
                            {{bidTeam.name}}
                            <a [ngStyle]="{
                              'color': 'rgb(237, 83, 88)',
                              'cursor': 'pointer'
                            }"
                            class="row-sm-4" (click)="bidTeamDelete(i)">X</a>
                          </li>
                        </ul>
      
      
                    <hr>
                  <ul [hidden]="!showBidTeamUserSearchList" class="btn btn-outline">
                    <li
                    class="list-group-item list-group-item-action list-group-item-secondary"
                    *ngFor="let user of users"
                    (click)="bidTeamUserSelection(user.name, user.id)">
                      {{user.name}}
                    </li>
                  </ul>
      
                  </div>

                  <div class="form-group">

                    <label for="clientLead">Client Lead</label>
                    <input
                    [hidden]="hideClientLeadInput"
                    #clientLead
                    onfocus="this.value=''"
                    value=''
                    (keyup)="CLSearch(clientLead.value)"
                    type="text"
                    class="form-control transparent-input"
                    id="clientLead">
                    <div [hidden]="!hideClientLeadInput">
                    <ul class="btn">
                      <li class="btn btn-primary-outline">
                        {{clientLeadHold?.Name}}
                      </li>
                      <div class="btn"></div>
                      <span>
                        <img src="../../assets/icons8-delete-64.png"
                        (click)="onClientDelete()"
                        class="deleteUserSelection flaot-right">
                      </span>
                    </ul>
                    </div>
                    <div [hidden]="!showClientList">
                      <ul class="list-group justified"
                            id="clientLead"
                            class="btn btn-outline">
                              <li
                              (click)="selectedClient(user.id, user.name)"
                              class="list-group-item list-group-item-action list-group-item-secondary"
                              *ngFor="let user of clientArray">
                              {{user.name}}
                              </li>
                          </ul>
                    </div>
            
                </div>


                <div class="form-group">
                    <label for="sharePointLink">Share Point Link</label>
                    <input
                    formControlName="sharePointLink"
                    type="text"
                    class="form-control transparent-input"
                    id="sharePointLink"
                    placeholder="URL">
                </div>

                    <div class="form-group">
                        <label for="probability">Probability</label>
                        <br>
                          <select
                            id="probability"
                            formControlName="probability"
                            class="btn btn-outline-primary">
                              <option
                              [value]="prob"
                              *ngFor="let prob of probabilityArray">
                              {{prob | percent}}
                            </option>
                          </select>
                    </div>

                    <div class="form-group">
                        <label for="estimatedValue">Estimated Value</label>
                        <br>
                        <select
                        id="estimatedValue"
                        formControlName="estimatedValue"
                        class="btn btn-outline-primary">
                          <option
                          [value]="estValue"
                          *ngFor="let estValue of estimatedValueArray">
                          {{estValue | currency:'GBP'}}
                        </option>
                      </select>
                    </div>
                        <hr>
    </div>
    </ng-template>
    </div>
  </ngb-tab>
  <!-- [disabled]="!mainForm.get('oppDetail').valid" -->
  <ngb-tab title="Pre Bid Information" id="preBid">
    <div class="container">
    <ng-template ngbTabContent>
      <div formGroupName="preBid">

          <div class="form-group">
              <label for="wbsCode">WBS Code</label>
              <input
              formControlName="wbsCode"
              type="text"
              class="form-control transparent-input"
              id="wbsCode"
              placeholder="WBS Code">
          </div>

          <div class="form-group">
              <label for="bidDeadline">Bid Deadline</label>
              <input
              formControlName="bidDeadline"
              type="date"
              class="form-control transparent-input"
              id="bidDeadline"
              placeholder="Bid Deadline">
          </div>

          <div class="form-group">
              <label for="costs">Cost</label>
              <input
              formControlName="costs"
              placeholder="£ 3.50"
              type="currency"
              class="form-control transparent-input"
              id="costs">
          </div>

          <div class="form-group">
              <label for="effortDays">Effort Days</label>
              <input
              formControlName="effortDays"
              placeholder="3 days"
              type="number"
              class="form-control transparent-input"
              id="effortDays">
          </div>

          <div class="form-group">
            <label for="contractLength">Contract Length</label>
            <input
            formControlName="contractLength"
            placeholder="Months"
            type="number"
            class="form-control transparent-input"
            id="contractLength">
        </div>

          
       </div>
    </ng-template>
  </div>
  </ngb-tab>
</ngb-tabset>
  </form>

  <nav class="navbar fixed-bottom bg-dark">
    <div class="d-flex justify-content-between">

        <div
        
        class="p-2 bd-highlight">
        
          <button
          disabled
          class="hidden-btn"
          role="button">
            
          </button>
        </div>

      <div

      class="p-2 bd-highlight">
      
        <button

        (click)="save()"
        class="btmNavBtn"
        role="button">
          Save
        </button>
      </div>


      <div
      [hidden]="!(t.activeId == 'oppDetail')"
      class="p-2 bd-highlight">
        <button
        (click)="t.select('preBid')"
        class="btmNavBtn"
        role="button">
          Next
        </button>
      </div>
      <div
      [hidden]="!(t.activeId == 'preBid')"
      class="p-2 bd-highlight">
        <button
        (click)="t.select('oppDetail')"
        class="btmNavBtn"
        role="button">
          Previous
        </button>
      </div>
    </div>
    </nav>
  </div>
